@import "./variables.css";

.padded-content {
  --padding-start: 15%;
  --padding-end: 15%;
  --padding-top: (2%);
  --padding-bottom: (2%);
  --height: calc(100% - 64px);
  --background: var(--ion-color-secondary);
}

.navbar-button {
  margin: 0;
  --background-hover: var(--background-activated);
}

.navbar-logo {
  --background-hover: (var(--background));
  --background-activated: var(--background);
  --ripple-color: transparent;
}

.Trade .popover-content {
  position: absolute;
  top: 50px !important;
  left: 277.75px !important;
}

.Stake .popover-content {
  position: absolute;
  top: 50px !important;
  left: 380.562px !important;
}

.More .popover-content {
  position: absolute;
  top: 50px !important;
  left: 482.604px !important;
}
